.selectCourtScores {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .athleteInformation{
    background-color: var(--BackgroundLayer2);
    border-radius: .3rem;
    padding: 2rem 2rem;
    margin-bottom: 2em;
 }

 .scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--BackgroundLayer3);
    margin-top: 2em;
    padding: 0.5rem;
    border-radius: .3rem;
 }
 
 .scores div {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
 }
 
 .scores div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
 }
 
 .total {
    justify-content: center;
    align-items: center;
    font-size: larger;
 }

 .scoresOverview {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: xx-large;
 }

 .divider{
    border-top: 2px solid var(--TextColor);
 }

 .strike {
    text-decoration: line-through;
    color: var(--TextDisabled) !important;
 }