:root {
  --AccentColour: #DFFF00;
  --TextColor: #E5E5E5;
  --TextHighlihted: #FFFFFF;
  --TextDisabled: #888888;
  --TextDark: #222222;
  --ButtonHovered: #e7ff40;
  --BackgroundLayer3: #5B5B5B;
  --BackgroundLayer2: #3B3B3B;
  --BackgroundLayer1: #222222;
  --BackgroundLayer0: #121212;
  --Gray1: #9e9e9e;
  --Gray2: #4a4a4a;
  --Gray3: #2b2b2b;
  --Gray4: #1a1a1a;
}

body {
  background-color: var(--BackgroundLayer1);
  color: var(--TextColor);
  height: 100%;
}

.textHighlihted {
  color: var(--AccentColour) !important;
}

.box {
  background-color: var(--BackgroundLayer2) !important;
  justify-content:center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.btn-primary {
  color: var(--TextDark);
  background-color:  var(--AccentColour) !important;
  border-color: var(--TextDark);
}
