.navbar {
    background-color: var(--BackgroundLayer2) !important;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 1rem;
}

.navBrand {
    color: var(--AccentColour) !important;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;   
    text-decoration: none;
}

.navbarNav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-right: auto!important;
    margin-bottom: 0;
    list-style: none;
}

.navLink {
    color: var(--TextColor);
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.navLink:hover {
    color: var(--TextHighlihted);
    text-decoration: none;
}

.navBrand:hover {
    text-decoration: none;  
}

