.selectCourtAdmin {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .scheduleCard{
    background-color: var(--BackgroundLayer2);
   /*  border: 2px solid #E8E8E8; */
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.scheduleCard div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.registrationCard{
    background-color: var(--BackgroundLayer3); 
    display: flex;
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid #E8E8E8; */
    border-radius: 5px;
}

.registrationCard div{
    display: flex;
    flex-direction: column;
}