.selectCourtReferee{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.athleteInformation{
    background-color: var(--BackgroundLayer2);
    border-radius: .3rem;
    padding: 2rem 2rem;
    margin-bottom: 2em;
 }

.styledButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 2em;
   margin-bottom: 3em;
 }

 .centerHeader{
     text-align: center;
 }

 .pointOverview {
    background-color: var(--BackgroundLayer2);
    border-radius: .3rem;
    padding: 2rem 2rem;
    margin-top: 2em;
    margin-bottom: 2em; 
    display: flex;
    flex-direction: column;  
    font-size: 25px;
 }

.pointOverview div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .centerButton{
    display: flex;
    justify-content: center !important;
 }
 .marginTop {
     margin-top:15px;
 }

 .scoresOverview {
    background-color: var(--BackgroundLayer2);
    border-radius: .3rem;
    padding: 2rem 2rem;
 }

 .flexSpaceAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
 }